body{
    font-family: Roboto;
}

.Header{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;

    text-align: center;
}

.main {
    float: left;
    margin-left: 20px;
    width: 45%;
    padding: 0 0px;
}

.right {
    background-color: #fff;
    float: right;
    margin-right: 50px;
    width: 40%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}

.Vote{
    background-color: #ff1e1e;
    border: none;
    color: #fff;
    width: 100px;
    height: 50px;
    vertical-align:top;
}

.Vote:hover{
    
    background-color: #6c0000;
    color: #ffffff;
    border: none;
    width: 105px;
    height: 55px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff1e1e;
}

li{
    float: left;
}

li a{
    display: block;
    padding: 14px 16px;
    color: aliceblue;
    text-decoration: none;
    text-align: center;

    
}

li a:hover{
    background-color: #6c0000;
}

.DriverProfile{
    max-width:70%;height:auto;
}

.PC{
    display: block;
}

.Mobile{
    display: none;
}

@media only screen and (max-width: 1015px) {
    /* For mobile phones: */
    .menu{
        width: 100%;
    }
    .main{
        width: 95%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .right{
        width: 98%;
        margin: auto;
    }
    .DriverProfile{
        width: 70%;
        
    }
    .Vote{
        text-align: center;
        margin: 10px auto;
        display: block;
    }

    .PC{
        display: none;
    }

    .Mobile{
        display: block;
    }
}






.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
